useDynLib(raschreg, .registration=TRUE)
export(rasch)
export(raschsk)
export(raschd)
export(raschreg)
export(raschdreg)
export(irt2p)
export(irt2preg)
export(sim_rasch)
export(hessian)
export(gradient)
export(ability)
export(info)
export(pim)
export(itemfit)
export(forest)
export(rcs)
export(lincon)
export(cooksD)
export(backward)
export(pfs)
importFrom(Rcpp, evalCpp)
importFrom(stats, nlminb,
                  optimize,
                  uniroot,
                  reshape,
                  update,
                  qchisq,
                  pt,
                  pf,
                  rnorm,
                  quantile, 
                  predict,
                  formula,
                  update.formula,
                  coef,
                  qt,
                  rbinom,
                  pchisq,
                  cov2cor,
                  sd,
                  model.matrix.lm,
                  vcov,
                  AIC,
                  BIC,
                  logLik,
                  residuals,
                  contr.sum,
                  'contrasts<-',
                  aggregate,
                  as.formula,
                  pnorm,
                  qnorm)
import(ggplot2)
importFrom(cowplot, plot_grid)
importFrom(rlang, .data)
importFrom(Rdpack,reprompt)
S3method(print, rasch)
S3method(coef, rasch)
S3method(AIC, rasch)
S3method(BIC, rasch)
S3method(logLik, rasch)
S3method(summary, rasch)
S3method(confint, rasch)
S3method(anova, rasch)
S3method(vcov, rasch)
S3method(residuals, rasch)
S3method(plot, rasch)
S3method(update, rasch)
S3method(predict, rcs)
S3method(drop1, rasch)
